{% extends 'pages/_base.html' %}
{% block title %}
  games
{% endblock %}
{% block header %}
  {% include './headers/back.html' %}
  <div class="flex justify-center items-center h-3/5">
    <div class="flex justify-center space-x-[-20px] max-md:mx-4 max-sm:space-x-2">
      <div class="relative rounded-lg w-2/4 max-sm:w-[45%]">
        <video autoplay muted loop class="w-full h-auto max-w-96 border-2 rounded-xl border-[#eceff1] object-cover">
          <source src="static/video/games/3d.mp4" type="video/mp4" />Your browser does not support the video tag.
        </video>
      </div>
      <div class="relative z-10 rounded-xl w-2/4 max-sm:w-[45%] max-sm:-translate-y-5 -translate-y-10">
        <video autoplay muted loop class="w-full h-auto max-w-96 border-2 rounded-lg border-[#eceff1] object-cover">
          <source src="static/video/games/chess.mp4" type="video/mp4" />Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center"></div>
{% endblock %}
{% block content %}
  <div class="flex items-center justify-center flex-col">
    <div class="w-3/4 max-md:mx-8 max-md:w-full">
      <div class="flex -translate-y-8 flex-col">
        <div class="">
          <div id="icon" class="h-12 w-12 items-center justify-center overflow-hidden rounded-xl bg-pink-400 p-1 max-w-xl">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="37" width="37" version="1.1" id="Layer_1" viewBox="0 0 512 512" xml:space="preserve">
              <path style="fill:#2C6991;" d="M255.403,220.142c-9.301,0-16.842-7.541-16.842-16.842v-23.874c0-36.932,30.047-66.98,66.98-66.98  h125.345c11.118,0,20.163-9.045,20.163-20.163c0-11.119-9.045-20.164-20.163-20.164H401.67c-9.301,0-16.842-7.541-16.842-16.842  s7.541-16.842,16.842-16.842h29.215c29.692,0,53.848,24.156,53.848,53.849c0,29.692-24.156,53.848-53.848,53.848H305.54  c-18.359,0-33.296,14.937-33.296,33.296V203.3C272.245,212.601,264.704,220.142,255.403,220.142z" />
              <path style="fill:#ABA8AB;" d="M286.316,225.713h-61.754c-9.301,0-16.842-7.541-16.842-16.842s7.541-16.842,16.842-16.842h61.754  c9.301,0,16.842,7.541,16.842,16.842S295.617,225.713,286.316,225.713z" />
              <path style="fill:#CCCCCC;" d="M256,225.713h-31.439c-9.301,0-16.842-7.541-16.842-16.842s7.541-16.842,16.842-16.842H256V225.713z" />
              <path style="fill:#4AD0FF;" d="M398.056,214.485H113.944C51.01,214.485,0,265.882,0,328.814v28.86  c0,46.498,21.996,88.13,56.182,106.207c28.626,15.137,61.712,12.217,93.835-7.993h211.828c18.55,12.351,37.452,17.679,55.628,17.679  c13.345,0,26.206-3.136,38.34-9.546C490.002,445.958,512,404.281,512,357.775v-28.961C512,265.882,460.99,214.485,398.056,214.485z" />
              <path style="fill:#99E5FF;" d="M256,214.485H113.944C51.01,214.485,0,265.882,0,328.814v28.86c0,46.498,21.996,88.13,56.182,106.207  c28.626,15.137,61.712,12.217,93.835-7.993H256V214.485z" />
              <path style="fill:#2C6991;" d="M151.579,317.784h-14.596v-14.596c0-9.301-7.541-16.842-16.842-16.842s-16.842,7.541-16.842,16.842  v14.596H88.702c-9.301,0-16.842,7.541-16.842,16.842s7.541,16.842,16.842,16.842h14.596v14.596c0,9.301,7.541,16.842,16.842,16.842  s16.842-7.541,16.842-16.842v-14.596h14.596c9.301,0,16.842-7.541,16.842-16.842S160.88,317.784,151.579,317.784z" />
              <path style="fill:#528FB3;" d="M120.14,286.345c-9.301,0-16.842,7.541-16.842,16.842v14.596H88.702  c-9.301,0-16.842,7.541-16.842,16.842s7.541,16.842,16.842,16.842h14.596v14.596c0,9.301,7.541,16.842,16.842,16.842V286.345z" />
              <path style="fill:#ABA8AB;" d="M228.491,390.766h-24.702c-9.301,0-16.842-7.541-16.842-16.842s7.541-16.842,16.842-16.842h24.702  c9.301,0,16.842,7.541,16.842,16.842S237.793,390.766,228.491,390.766z" />
              <path style="fill:#CCCCCC;" d="M215.579,390.766h-11.789c-9.301,0-16.842-7.541-16.842-16.842s7.541-16.842,16.842-16.842h11.789  V390.766z" />
              <circle style="fill:#FB5858;" cx="393.016" cy="365.676" r="19.491" />
              <path style="fill:#FF835D;" d="M393.013,385.162c-10.764,0-19.491-8.726-19.491-19.491c0-10.764,8.726-19.491,19.491-19.491V385.162  z" />
              <path style="fill:#ABA8AB;" d="M308.211,390.766h-24.702c-9.301,0-16.842-7.541-16.842-16.842s7.541-16.842,16.842-16.842h24.702  c9.301,0,16.842,7.541,16.842,16.842S317.512,390.766,308.211,390.766z" />
              <path style="fill:#CCCCCC;" d="M295.298,390.766h-11.789c-9.301,0-16.842-7.541-16.842-16.842s7.541-16.842,16.842-16.842h11.789  V390.766z" />
              <circle style="fill:#FB5858;" cx="426.7" cy="320.752" r="19.491" />
              <path style="fill:#FF835D;" d="M426.699,340.246c-10.764,0-19.491-8.726-19.491-19.491c0-10.764,8.726-19.491,19.491-19.491V340.246  z" />
            </svg>
          </div>

          <div class="text-balance bg-gradient-to-r from-gray-400 to-gray-800 bg-clip-text text-3xl max-sm:text-lg font-bold tracking-tight text-gray-900 text-transparent">Games, Animations and Simulations</div>
          <div class="mb-10 text-lg font-bold text-[#5e5e63]">Some of Games and Animations I made</div>
        </div>
      </div>

      <div class="p-5 gap-12 flex-col bg-white rounded-lg shadow-lg">
        <p class="mb-5 text-balance bg-gradient-to-r from-gray-400 to-gray-800 bg-clip-text text-lg font-bold tracking-tight text-gray-900 text-transparent">Shortest Path Algorithms</p>
        <div class="items-start justify-start flex gap-16">
          <div class="flex items-center justify-center gap-6 max-lg:flex-col">
            <video autoplay muted loop class="w-96 h-auto rounded-xl transform hover:scale-105 transition duration-300 shadow-lg max-w-full border-2 border-[#eceff1]">
              <source src="static/video/games/breadth.mp4" type="video/mp4" />Your browser does not support the video tag.
            </video>

            <div class="flex gap-11">
              <div class="flex-none items-center w-9 h-9 font-semibold bg-[#f6f6f6] text-[#fd4e4e] rounded-full leading-[1.5] flex justify-center">1</div>
              <div class="text-lg flex flex-col text-[#5e5e63] leading-8">
                <p>
                  <span class="text-red-500">Breadth First Search BFS</span> explores all neighboring nodes at the current depth before moving on to nodes at the next depth level. It uses a <span class="text-red-500">queue</span> to keep track of nodes to visit next, ensuring it explores all possible paths in a structured layer-by-layer way.
                  <span class="text-red-500">Application</span>: BFS is especially useful in unweighted graphs or mazes where we want the shortest path without worrying about weights or distances.
                  <span class="text-red-500">Efficiency</span>: Since BFS processes each layer entirely before moving to the next, it guarantees the shortest path in unweighted graphs. <span class="text-red-500">However</span>, it can consume considerable memory as it stores all nodes at each level.
                </p>
                <div></div>
              </div>
            </div>
          </div>
        </div>

        <div class="items-start justify-start flex mt-10 flex-row gap-16 max-md:flex-col mb-24">
          <div class="items-center justify-center">
            <div class="flex items-center justify-center gap-6 max-lg:flex-col">
              <div class="flex gap-11">
                <div class="flex-none bg-[#f6f6f6] items-center w-9 h-9 font-semibold text-[#fd4e4e] rounded-full leading-[1.5] flex justify-center">2</div>
                <div class="flex flex-col text-[#5e5e63] leading-8 text-lg">
                  <p>
                    <span class="text-red-500">Explanation: Depth First Search DFS</span> explores as far as possible down one path before backtracking, making it useful for tasks like exhaustive pathfinding and cycle detection. It often uses a <span class="text-red-500">stack</span> to keep track of nodes (or recursion).
                    <span class="text-red-500">Application:</span> DFS is ideal when we need to explore every single path or when we’re interested in discovering if a path exists rather than finding the shortest path.
                    <span class="text-red-500">Efficiency:</span> DFS has low memory requirements since it doesn’t keep track of all nodes at each level, but it <span class="text-red-500">doesn’t</span> guarantee the shortest path and can get stuck in cycles without careful tracking of visited nodes..
                  </p>
                </div>
              </div>

              <video autoplay muted loop class="w-96 h-auto rounded-xl shadow-lg transform hover:scale-105 transition duration-300 max-w-full border-2 border-[#eceff1]">
                <source src="static/video/games/depth.mp4" type="video/mp4" />Your browser does not support the video tag.
              </video>
            </div>
          </div>
        </div>

        <div class="items-start justify-start flex mt-5 flex-row gap-16 max-md:flex-col">
          <div class="flex items-center justify-center gap-6">
            <div class="flex gap-11 items-center justify-center max-lg:flex-col">
              <video autoplay muted loop class="w-96 h-auto rounded-xl shadow-lg transform hover:scale-105 transition duration-300 max-w-full border-2 border-[#eceff1]">
                <source src="static/video/games/best.mp4" type="video/mp4" />Your browser does not support the video tag.
              </video>

              <div class="flex gap-11">
                <div class="flex-none items-center w-9 h-9 font-semibold text-[#fd4e4e] bg-[#f6f6f6] rounded-full leading-[1.5] flex justify-center">3</div>
                <div class="text-lg flex flex-col text-[#5e5e63] leading-8 items-center justify-center">
                  <p>
                    <span class="text-red-500">Explanation: BestFS</span> uses a heuristic to prioritize nodes that seem closer to the goal, relying on a <span class="text-red-500">priority queue</span> where nodes with the lowest heuristic values are processed first. It’s <span class="text-red-500">faster</span> in scenarios where the heuristic can accurately estimate the distance to the goal.
                    <span class="text-red-500">Application:</span> It’s often used in situations like navigation, gaming, and AI pathfinding, where speed is prioritized, even if the shortest path <span class="text-red-500">isn’t</span> guaranteed.
                    <span class="text-red-500">Efficiency:</span> BestFS is efficient with a good heuristic but may miss the optimal path if the heuristic isn’t precise, and it doesn’t account for the actual <span class="text-red-500">path cost</span>, which could lead to suboptimal routes.
                  </p>
                  <div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="items-start justify-start flex mt-10 flex-row gap-16 max-md:flex-col mb-24">
          <div class="items-center justify-center">
            <div class="flex items-center justify-center gap-6 max-lg:flex-col">
              <div class="flex gap-11">
                <div class="flex-none bg-[#f6f6f6] items-center w-9 h-9 font-semibold text-[#fd4e4e] rounded-full leading-[1.5] flex justify-center">4</div>
                <div class="flex flex-col text-[#5e5e63] leading-8 text-lg">
                  <p>
                    <span class="text-red-500">Explanation: A*</span> combines <span class="text-red-500">the actual path cost</span> (from start to the current node) and a <span class="text-red-500">heuristic</span> (estimated cost from the current node to the goal) to explore nodes in an optimal order, balancing cost-effectiveness with goal proximity.
                    <span class="text-red-500">Application:</span> A* is widely used in scenarios requiring optimal pathfinding, such as GPS navigation, robotics, and game development, where paths can have varied weights and costs.
                    <span class="text-red-500">Efficiency:</span> When the heuristic is admissible (never overestimates the actual cost), A* is <span class="text-red-500">guaranteed</span> to find the shortest path, but it can be memory-intensive since it tracks all explored paths.
                  </p>
                </div>
              </div>

              <video autoplay muted loop class="w-96 h-auto rounded-xl shadow-lg transform hover:scale-105 transition duration-300 max-w-full border-2 border-[#eceff1]">
                <source src="static/video/games/A star.mp4" type="video/mp4" />Your browser does not support the video tag.
              </video>
            </div>
          </div>
        </div>
      </div>

      <div class="flex h-80 w-full my-10">
        <div class="w-full h-80 bg-fixed bg-no-repeat bg-blend-overlay bg-center flex justify-center items-center z-10" style="background-image:url(static/images/games/tree.png)">
          <div class="w-full h-80 bg-black z-10 absolute opacity-20"></div>
          <div class="z-40 flex flex-col w-full text-3xl font-bold text-white items-center justify-center"></div>
        </div>
      </div>

      <div class="p-10 gap-12 flex-col border-2 rounded-xl shadow-lg">
        <p class="mb-5 text-balance bg-gradient-to-r from-gray-400 to-gray-800 bg-clip-text text-lg font-bold tracking-tight text-gray-900 text-transparent">Animtaions and Simulations</p>
        <div class="items-start justify-start flex gap-16">
          <div class="flex items-center justify-center gap-6 max-md:flex-col w-full">
            <video autoplay muted loop class="w-auto max-h-96 h-auto rounded-xl transform hover:scale-105 transition duration-300 shadow-lg max-w-full border-2 border-[#eceff1]">
              <source src="static/video/games/animation.mp4" type="video/mp4" />Your browser does not support the video tag.
            </video>
            <video autoplay muted loop class="w-auto max-h-96 h-auto rounded-xl shadow-lg transform hover:scale-105 transition duration-300 max-w-full border-2 border-[#eceff1]">
              <source src="static/video/games/chessanimation.mp4" type="video/mp4" />Your browser does not support the video tag.
            </video>
          </div>
        </div>

        <div class="items-start justify-start flex gap-16">
          <div class="flex items-center justify-center gap-6 flex-col">
            <span class="bg-gradient-to-tl from-slate-800 via-violet-500 to-zinc-400 bg-clip-text text-transparent text-xl font-bold">Predator And Prey</span>
            <video autoplay muted loop class="h-auto rounded-xl transform hover:scale-105 transition duration-300 shadow-lg max-w-full border-2 border-[#eceff1]">
              <source src="static/video/games/prey.mp4" type="video/mp4" />Your browser does not support the video tag.
            </video>

            <p>
              <span class="text-red-500 font-bold">Prey Survival and Predator Victory:</span>

              The prey <span class="text-red-500">survives</span> as long as it avoids colliding with a predator. A prey <span class="text-red-500">dies</span> immediately upon contact with a predator, at which point it is removed from the simulation. A predator may <span class="text-red-500">"die" or be removed</span> from the simulation if specific conditions are met (for example, exhaustion from lack of food/prey or by certain environmental factors, if any).
            </p>

            <p>
              <span class="text-red-500 font-bold">Movement and Collision:</span> Both predators and prey move within the environment. The simulation uses <span class="text-red-500">quadtree</span> data structures to manage collisions efficiently, even with hundreds of thousands of entities. <span class="text-red-500">Quadtrees</span> break down the simulation space into smaller, manageable sections, allowing the system to detect and manage collisions only between entities within close proximity, which dramatically enhances performance.
            </p>
          </div>
        </div>
      </div>

      <div class="p-10 bg-white gap-12 flex-col mt-10 rounded-xl shadow-xl">
        <p class="mb-5 text-balance bg-gradient-to-r from-gray-400 to-gray-800 bg-clip-text text-xl font-bold tracking-tight text-gray-900 text-transparent">
          Online Games. <span class="bg-gradient-to-tl from-slate-800 via-violet-500 to-zinc-400 bg-clip-text text-transparent">Python and WebSockets</span>
        </p>
        <div class="items-start justify-start flex gap-16">
          <div class="flex items-center justify-center gap-6 flex-col">
            <p class="text-lg flex flex-col text-[#5e5e63] leading-8">These online games, built with Python and websockets, offer seamless multiplayer experiences. Each game runs on a server that opens a websocket listener, allowing it to communicate directly with the client (the game). Once a player connects, the server instantly matches them with another waiting player or places them in a queue, ensuring they’re quickly paired up for action. Enjoy real-time gameplay with dynamic matchmaking in each game!</p>

            <span class="bg-gradient-to-tl from-slate-800 via-violet-500 to-zinc-400 bg-clip-text text-transparent text-xl font-bold">The Checkers</span>
            <video autoplay muted loop class="h-auto rounded-xl transform hover:scale-105 transition duration-300 shadow-xl max-w-full border-2 border-[#eceff1]">
              <source src="static/video/games/checkers.mp4" type="video/mp4" />Your browser does not support the video tag.
            </video>
          </div>
        </div>

        <div class="flex items-center justify-center gap-6 flex-col">
          <div class="bg-[#f1f1f1] mt-5 rounded-xl border-2 flex flex-col">
            <span class="self-center bg-gradient-to-tl from-slate-800 via-violet-500 to-zinc-400 bg-clip-text text-transparent text-xl font-bold">Chess</span>

            <div class="items-start justify-start flex mt-10 flex-row gap-16 max-md:flex-col mb-24">
              <div class="items-center justify-center">
                <div class="flex items-center justify-center gap-6 flex-col">
                  <div class="flex flex-col">
                    <div class="flex items-center justify-center w-full h-auto max-md:w-full max-md:flex-col">
                      <div class="relative rounded-lg mx-10 justify-center items-center flex flex-col">
                        <img loading="lazy" src="static/images/chess/chess 3.png" alt="Dog" class="w-auto max-h-96 h-auto rounded-xl transform hover:scale-105 transition duration-300" />
                        <div class="mt-5 text-[#5e5e63] text-lg leading-8">Queued Games</div>
                      </div>

                      <div class="relative rounded-lg mx-10 justify-center items-center flex flex-col">
                        <img loading="lazy" src="static/images/chess/chess 2.png" alt="Dog" class="w-auto max-h-96 h-auto rounded-xl transform hover:scale-105 transition duration-300" />
                        <span class="mt-5 text-[#5e5e63] text-lg leading-8">Go Online/Offline</span>
                      </div>
                    </div>
                    <div class="flex items-center justify-center w-full h-auto max-md:w-full max-md:flex-col">
                      <div class="relative rounded-lg mx-10 justify-center items-center flex flex-col">
                        <video autoplay muted loop class="w-96 h-auto rounded-xl shadow-xl transform hover:scale-105 transition duration-300 border-2 border-[#eceff1]">
                          <source src="static/video/games/chess.mp4" type="video/mp4" />Your browser does not support the video tag.
                        </video>
                        <div class="mt-5 text-[#5e5e63] text-lg leading-8">Offline Game</div>
                      </div>

                      <div class="relative rounded-lg mx-10 justify-center items-center flex flex-col">
                        <img loading="lazy" src="static/images/chess/new message.png" alt="Dog" class="w-auto max-h-96 h-auto rounded-xl shadow-xl transform hover:scale-105 transition duration-300 max-w-full border-2 border-[#eceff1]" />
                        <span class="mt-5 text-[#5e5e63] text-lg leading-8">Online with messaging</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="items-start justify-start flex gap-16">
            <div class="flex items-center justify-center gap-6 flex-col">
              <span class="bg-gradient-to-tl from-slate-800 via-violet-500 to-zinc-400 bg-clip-text text-transparent text-xl font-bold">Rock Scissors Paper</span>
              <video autoplay muted loop class="h-auto rounded-xl transform hover:scale-105 transition duration-300 shadow-xl max-w-full border-2 border-[#eceff1]">
                <source src="static/video/games/rock.mp4" type="video/mp4" />Your browser does not support the video tag.
              </video>
            </div>
          </div>
        </div>

        <div class="items-start justify-start flex gap-16 mt-10">
          <div class="bg-[#f1f1f1] mt-5 rounded-xl border-2 flex flex-col">
            <div class="flex items-center justify-center gap-6 flex-col p-5">
              <span class="bg-gradient-to-tl from-slate-800 via-violet-500 to-zinc-400 bg-clip-text text-transparent text-xl font-bold">Space War</span>
              <video autoplay muted loop class="h-auto rounded-xl transform hover:scale-105 transition duration-300 shadow-xl max-w-full border-2 border-[#eceff1]">
                <source src="static/video/games/space war.mp4" type="video/mp4" />Your browser does not support the video tag.
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
