{% extends 'pages/_base.html' %}
{% block title %}
  About
{% endblock %}
{% block header %}
  {% include './headers/back.html' %}
  <div class="flex justify-center items-center h-3/5">
    <div class="flex justify-center space-x-[-20px]">
      <div class="relative rounded-lg">
        <img src="/static/images/organizer/image.png" alt="Dog" class="w-72 h-80 rounded-xl shadow-lg transform hover:scale-105 transition duration-300" />
      </div>
      <div class="relative z-10 rounded-lg shadow-lg -translate-y-10">
        <img src="/static/images/organizer/map1.png" alt="Forest Waterfall" class="w-72 h-96 rounded-xl shadow-lg transform hover:scale-105 transition duration-300" />
      </div>
      <div class="relative rounded-lg">
        <img src="/static/images/organizer/map2.png" alt="Bridge" class="w-72 h-72 rounded-xl shadow-lg transform hover:scale-105 transition duration-300" />
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center">
    <div class="text-balance bg-gradient-to-r from-gray-400 to-gray-800 bg-clip-text text-lg font-bold tracking-tight text-gray-900 text-transparent mb-5">Under Development</div>
  </div>
{% endblock %}
{% block content %}
  <div class="mt-10 justify-center items-center w-full flex">
    <div class="px-8 py-4 w-2/4 max-md:w-full">
      <div class="text-balance bg-gradient-to-r from-gray-400 to-gray-800 bg-clip-text text-lg font-bold tracking-tight text-gray-900 text-transparent mb-5">Project Overview</div>

      <div class="flex felx-row">
        <div class="flex flex-col text-[#5e5e63] leading-8">
          <div>I'm currently working on a project called An Najah Infrastructure Organizer, which aims to consolidate all university facilities, including buildings, rooms, cafes, and empty spaces, into a single app. This system is designed to serve both administrative staff and students. For administrative employees, it provides tools to manage and optimize the use of empty spaces, such as classrooms and other areas, allowing them to efficiently open new classes and allocate resources. For students, the app simplifies navigation across the campus, helping them locate their classrooms and facilities through detailed maps and 3D indoor imaging powered by OpenStreetMap and similar technologies.

            This project resembles systems used in smart campuses and urban spaces, like the "Smart Campus" initiatives seen in universities worldwide. Similar systems have been developed to manage building occupancy, enhance wayfinding for visitors, and improve space utilization through interactive maps and real-time data. Integration with tools like 3D indoor mapping and interactive navigation apps offers a more engaging and efficient campus experience. The potential to add functionalities such as real-time space availability and event scheduling could further improve both administrative planning and student convenience.</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
