{% extends 'pages/_base.html' %}
{% block title %}
  About
{% endblock %}
{% block content %}
  {% include './headers/main-header.html' %}
  {% block header %}
    <div class="flex justify-center items-center h-3/5">
      <img src="/static/images/zajel/mobile-logo.png" class="h-full" alt="" />
    </div>
  {% endblock %}
  <div class="flex items-center justify-center flex-col">
    <div class="w-3/4">
      <div class="flex -translate-y-8 flex-col">
        <div class="">
          <div id="icon" class="h-12 w-12 items-center justify-center overflow-hidden rounded-xl bg-slate-300 p-1 max-w-xl">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 64 64" style="enable-background:new 0 0 512 512" xml:space="preserve" class="h-10 w-10">
              <g>
                <path fill="#eaeadc" d="M24.682 39.087S21 42 14 42l4 3s-4 1-7-1c0 0 2.893 11 13.893 1z" opacity="1" data-original="#eaeadc"></path>
                <path fill="#995f5b" d="M41 24s8 0 15-18a4.281 4.281 0 0 1 1.827 5.907L55 17l5-3c.611 2.446.937 4.386-1 6l-4 3h6a4 4 0 0 1-4 4h-3l5 5a4.239 4.239 0 0 1-6 0l-2-2 2 7-.932.233A3.415 3.415 0 0 1 48 35l-1-3-1 7a4.323 4.323 0 0 1-4-3l-1.3-4.835-1.7-3.132zM23.143 24S15 24 8 6a4.281 4.281 0 0 0-1.827 5.907L9 17l-5-3c-.611 2.446-.937 4.386 1 6l4 3H3a4 4 0 0 0 4 4h3l-5 5a4.239 4.239 0 0 0 6 0l2-2-2 7 .932.233A3.415 3.415 0 0 0 16 35l1-3 1 7a4.323 4.323 0 0 0 4-3l1.4-4.913.519-3.587z" opacity="1" data-original="#995f5b" class=""></path>
                <path fill="#66342e" d="M28.168 18.415 23 20l1 28h4l4-7 4 7h4l1-24-3.667-5z" opacity="1" data-original="#66342e"></path>
                <path fill="#f9bb4b" d="m41 5 6 2v6l-3-3-3-1z" opacity="1" data-original="#f9bb4b"></path>
                <path fill="#eaeadc" d="m41 5-7-2h-4l-7 17 3 4 3-1 2 4 2-3 3 2 2-3 3 1v-4l-2-8 2-2z" opacity="1" data-original="#eaeadc"></path>
                <path fill="#ad6327" d="M14 53h36v6H14z" opacity="1" data-original="#ad6327"></path>
                <path fill="#f9bb4b" d="m27 51 1-3h-4l-1 3-3 1v3l1 6h2l1-6h2l1 6h2l1-6v-3zM37 51l-1-3h4l1 3 3 1v3l-1 6h-2l-1-6h-2l-1 6h-2l-1-6v-3z" opacity="1" data-original="#f9bb4b"></path>
                <path fill="#394d5c" d="m33.773 7.977.486-1.94 4 1.002-.487 1.94z" opacity="1" data-original="#394d5c"></path>
                <g fill="#301a12">
                  <path d="M35 34a1 1 0 0 1-.555-.168L32 32.2l-2.445 1.63a1 1 0 0 1-1.262-.125l-2-2 1.414-1.414 1.42 1.42 2.318-1.545a1 1 0 0 1 1.11 0l2.318 1.545 1.42-1.42 1.414 1.414-2 2A1 1 0 0 1 35 34z" fill="#301a12" opacity="1" data-original="#301a12" class=""></path>
                  <rect width="3.606" height="2" x="10.697" y="18" rx="1" transform="rotate(-33.7 12.495 18.99)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                  <rect width="5" height="2" x="12" y="21" rx="1" transform="rotate(-53 14.495 21.997)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                  <rect width="7.211" height="2" x="13.394" y="25" rx="1" transform="rotate(-56.29 17.01 26)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                  <rect width="7.28" height="2.001" x="16.36" y="26.5" rx="1" transform="rotate(-74.05 19.992 27.486)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                  <rect width="2" height="3.606" x="50.5" y="17.197" rx="1" transform="rotate(-56.29 51.515 18.99)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                  <rect width="2" height="5" x="48.5" y="19.5" rx="1" transform="rotate(-37 49.5 22)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                  <rect width="2" height="7.211" x="46" y="22.394" rx="1" transform="rotate(-33.7 46.978 25.984)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                  <rect width="2.001" height="7.28" x="43" y="23.86" rx="1" transform="rotate(-15.95 43.954 27.475)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                </g>
              </g>
            </svg>
          </div>

          <div class="text-balance bg-gradient-to-r from-gray-400 to-gray-800 bg-clip-text text-4xl font-bold tracking-tight text-gray-900 text-transparent sm:text-6xl">Zajel Mobile</div>
          <div class="mb-10 text-lg font-bold text-[#5e5e63]">Cross Mobile Platform Developer . 2024</div>
        </div>

        <div class="flex flex-row text-lg leading-7 items-start justify-center max-md:flex-col gap-10">
          <div class="text-[#323235] w-2/4 flex-initial max-md:w-full">For job seekers, the job card is a key element in the ZipRecruiter interface, but functionally, it presented several issues; it was difficult to read, reuse, and test. I led the effort to improve the job card from usability and system perspectives.</div>

          <div class="flex w-2/4 flex-initial flex-row max-md:w-full max-md:mt-10 justify-end gap-16">
            <div class="max-md:flex-col max-md:w-2/4">
              <h1 class="font-mono">ROLE</h1>
              <div class="text-[#323235]">Project Leader</div>
            </div>
            <div class="max-md:flex-col max-md:w-2/4">
              <h1 class="font-mono">Responsibilities</h1>
              <div class="text-[#323235]">
                <h1>System Design,</h1>
                <h1>User Interface Design,</h1>
                <h1>User Experience Design,</h1>
                <h1>Backend.</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-14 items-center flex justify-center">
        <div class="w-3/4">
          <div class="bg-white rounded-md shadow-md">
            <div class="px-8 py-4">
              <div class="text-balance bg-gradient-to-r from-gray-400 to-gray-800 bg-clip-text text-lg font-bold tracking-tight text-gray-900 text-transparent mb-5">PROBLEM</div>

              <p class="text-lg">The job card had glaring usability issues and needed to be rebuilt for each new placement, an inefficiency we hoped to correct. Could we redesign the job card to not only improve usability, but also promote consistency and enable powerful testing?</p>
            </div>
          </div>

          <div class="mt-5 p-5 text-[#5e5e63] text-lg leading-8">Some of our highest traffic pages, like Suggested Jobs and Search Results, displayed lists of hundreds of job cards. The cards gave the user a compact preview of a job and some even allowed users to apply directly with one tap.

            Our database is made up of millions of jobs from hundreds of different sources, each returning different data than the last. While perfectly formatted jobs exist, a more characteristic job was one with a long title and missing information like a logo or perks.</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
