{% extends 'pages/_base.html' %}
{% block title %}
  About
{% endblock %}
{% block header %}
{% include './headers/back.html' %}
<div class="flex justify-center items-center h-3/5 space-x-4 sm:space-x-8">
  <div class="flex justify-center space-x-[-20px]">
    <div class="relative rounded-lg">
      <img loading="lazy" src="/static/images/zajel/bg2.jpg" alt="Dog" class="w-full h-auto max-w-72 rounded-xl shadow-lg transform hover:scale-105 transition duration-300" />
    </div>
    <div class="relative z-10 rounded-lg shadow-lg -translate-y-10">
      <img loading="lazy" src="/static/images/zajel/logo1.jpg" alt="Forest Waterfall" class="w-full max-w-72 h-auto rounded-xl shadow-lg transform hover:scale-105 transition duration-300" />
    </div>
  </div>

</div>

{% endblock %}

{% block content %}
 
  <div class="flex items-center justify-center flex-col">
    <div class="w-3/4 mx-8 max-md:w-full">
      <div class="flex -translate-y-6  flex-col max-md:mx-2">
        <div class="">
          <div id="icon" class="h-12 w-12 items-center justify-center overflow-hidden rounded-xl bg-slate-300 p-1 max-w-xl mt-5">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 64 64" style="enable-background:new 0 0 512 512" xml:space="preserve" class="h-10 w-10">
              <g>
                <path fill="#eaeadc" d="M24.682 39.087S21 42 14 42l4 3s-4 1-7-1c0 0 2.893 11 13.893 1z" opacity="1" data-original="#eaeadc"></path>
                <path fill="#995f5b" d="M41 24s8 0 15-18a4.281 4.281 0 0 1 1.827 5.907L55 17l5-3c.611 2.446.937 4.386-1 6l-4 3h6a4 4 0 0 1-4 4h-3l5 5a4.239 4.239 0 0 1-6 0l-2-2 2 7-.932.233A3.415 3.415 0 0 1 48 35l-1-3-1 7a4.323 4.323 0 0 1-4-3l-1.3-4.835-1.7-3.132zM23.143 24S15 24 8 6a4.281 4.281 0 0 0-1.827 5.907L9 17l-5-3c-.611 2.446-.937 4.386 1 6l4 3H3a4 4 0 0 0 4 4h3l-5 5a4.239 4.239 0 0 0 6 0l2-2-2 7 .932.233A3.415 3.415 0 0 0 16 35l1-3 1 7a4.323 4.323 0 0 0 4-3l1.4-4.913.519-3.587z" opacity="1" data-original="#995f5b" class=""></path>
                <path fill="#66342e" d="M28.168 18.415 23 20l1 28h4l4-7 4 7h4l1-24-3.667-5z" opacity="1" data-original="#66342e"></path>
                <path fill="#f9bb4b" d="m41 5 6 2v6l-3-3-3-1z" opacity="1" data-original="#f9bb4b"></path>
                <path fill="#eaeadc" d="m41 5-7-2h-4l-7 17 3 4 3-1 2 4 2-3 3 2 2-3 3 1v-4l-2-8 2-2z" opacity="1" data-original="#eaeadc"></path>
                <path fill="#ad6327" d="M14 53h36v6H14z" opacity="1" data-original="#ad6327"></path>
                <path fill="#f9bb4b" d="m27 51 1-3h-4l-1 3-3 1v3l1 6h2l1-6h2l1 6h2l1-6v-3zM37 51l-1-3h4l1 3 3 1v3l-1 6h-2l-1-6h-2l-1 6h-2l-1-6v-3z" opacity="1" data-original="#f9bb4b"></path>
                <path fill="#394d5c" d="m33.773 7.977.486-1.94 4 1.002-.487 1.94z" opacity="1" data-original="#394d5c"></path>
                <g fill="#301a12">
                  <path d="M35 34a1 1 0 0 1-.555-.168L32 32.2l-2.445 1.63a1 1 0 0 1-1.262-.125l-2-2 1.414-1.414 1.42 1.42 2.318-1.545a1 1 0 0 1 1.11 0l2.318 1.545 1.42-1.42 1.414 1.414-2 2A1 1 0 0 1 35 34z" fill="#301a12" opacity="1" data-original="#301a12" class=""></path>
                  <rect width="3.606" height="2" x="10.697" y="18" rx="1" transform="rotate(-33.7 12.495 18.99)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                  <rect width="5" height="2" x="12" y="21" rx="1" transform="rotate(-53 14.495 21.997)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                  <rect width="7.211" height="2" x="13.394" y="25" rx="1" transform="rotate(-56.29 17.01 26)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                  <rect width="7.28" height="2.001" x="16.36" y="26.5" rx="1" transform="rotate(-74.05 19.992 27.486)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                  <rect width="2" height="3.606" x="50.5" y="17.197" rx="1" transform="rotate(-56.29 51.515 18.99)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                  <rect width="2" height="5" x="48.5" y="19.5" rx="1" transform="rotate(-37 49.5 22)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                  <rect width="2" height="7.211" x="46" y="22.394" rx="1" transform="rotate(-33.7 46.978 25.984)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                  <rect width="2.001" height="7.28" x="43" y="23.86" rx="1" transform="rotate(-15.95 43.954 27.475)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                </g>
              </g>
            </svg>
          </div>

          <div class="text-balance bg-gradient-to-r from-gray-400 to-gray-800 bg-clip-text text-4xl font-bold tracking-tight text-gray-900 text-transparent sm:text-6xl">Zajel Mobile</div>
          <div class="mb-10 text-lg font-bold text-[#5e5e63]">Cross Mobile Platform App . 2024</div>
        </div>

        <div class="flex flex-row text-lg leading-7 items-start justify-center max-md:flex-col gap-10">
          <div class="text-[#323235] w-2/4 flex-initial max-md:w-full">Zajel Mobile is a mobile application developed for university students, providing a faster and easier way to access their academic data. The app enhances the user interface and experience, supports both offline and online modes, and sends notifications to students about new updates and upcoming lectures.</div>

          <div class="flex w-2/4 flex-initial flex-row max-md:w-full max-md:mt-10 justify-end gap-16">
            <div class="max-md:flex-col max-md:w-2/4">
              <div class="text-balance bg-gradient-to-r from-[#323235] to-[#5e5e63] bg-clip-text text-base font-semibold tracking-wider text-gray-900 text-transparent mb-5">ROLE</div>

              <div class="text-[#323235]">Project Leader</div>

              <div class="text-balance bg-gradient-to-r from-[#323235] to-[#5e5e63] bg-clip-text text-base font-semibold tracking-wider text-gray-900 text-transparent mb-5 mt-6">STACK</div>

              <div class="text-[#323235]">Expo-React Native</div>
              <div class="text-[#323235]">Javalin</div>
            </div>
            <div class="max-md:flex-col max-md:w-2/4">
              <div class="font- text-balance bg-gradient-to-r from-[#323235] to-[#5e5e63] bg-clip-text text-base font-semibold tracking-wider text-gray-900 text-transparent mb-5">RESPONSIBILITIES</div>
              <div class="text-[#323235]">
                <h1>System Design,</h1>
                <h1>User Interface Design,</h1>
                <h1>User Experience Design,</h1>
                <h1>Backend.</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-14 items-center flex justify-center">
        <div class="w-3/4 max-md:w-full">
          <div class="bg-white rounded-md shadow-md">
            <div class="px-8 py-4">
              <div class="text-balance bg-gradient-to-r from-gray-400 to-gray-800 bg-clip-text text-lg font-bold tracking-tight text-gray-900 text-transparent mb-5">PROBLEM</div>

              <p class="text-lg">The previous version of the Zajel Mobile app faced several challenges that led to negative reviews from users. These issues included a lack of full synchronization with the Zajel Web platform, frequent unexpected logouts, and difficulties handling internet connectivity. Additionally, users experienced slow response times, problems with fetching data, and inconsistent delivery of notifications, which affected the overall user experience.</p>
            </div>
          </div>

          <div class="mt-5 p-5 text-[#5e5e63] text-lg leading-8">Given the numerous issues with the previous version, I decided to completely recreate the Zajel Mobile app instead of just fixing the existing bugs. One of my main priorities was to significantly improve the user interface and experience. I focused on redesigning key features, such as the student curriculum page, which required a more efficient way to handle and display large amounts of data. I implemented a filter search to make it easier for users to find specific information and reorganized the layout for better readability and usability.</div>
        </div>
      </div>

      <div class="mt-16">
        <div class="flex flex-row max-md:flex-col items-center justify-center gap-10">
          <div class="flex items-center justify-center flex-col max-md:w-full">
            <video autoplay muted loop class="w-80 h-full rounded-2xl shadow-xl border-2 border-[#eceff1] object-cover">
              <source src="static/video/zajel/old_zajel_courses.mp4" type="video/mp4" />Your browser does not support the video tag.
            </video>
            <div class="mt-5 text-[#5e5e63] text-lg leading-8">Old Version</div>
          </div>
          <div class="flex items-center justify-center flex-col max-md:w-full">
            <video autoplay muted loop class="w-80 h-full rounded-2xl shadow-xl border-2 border-[#eceff1] object-cover">
              <source src="static/video/zajel/new_zajel_courses.mp4" type="video/mp4" />Your browser does not support the video tag.
            </video>
            <div class="mt-5 text-[#5e5e63] text-lg leading-8">New Version</div>
          </div>
        </div>
      </div>



      <div class="items-start justify-start flex mt-14 flex-row gap-16 max-md:flex-col bg-white rounded-xl shadow-xl">
        <div class=" sticky top-20 pl-4 max-md:w-full bg-white max-md:-top-1 rounded-xl shadow-xl">
          <div class=" flex items-center justify-center">
            <img loading="lazy" class="h-full w-80 max-md:w-60  border-2 rounded-lg border-[#eceff1] object-contain" src="/static/images/zajel/1.png" alt="" />
          </div>
        </div>

        <div class="flex flex-col gap-11  py-10 pr-4">
          <div class="flex felx-row">
            <div class="flex-none items-center w-9 h-9 mr-4 font-semibold text-[#fd4e4e] bg-[#f9e7e7] rounded-full leading-[1.5] flex justify-center items-center">1</div>
            <div class="flex flex-col text-[#5e5e63] leading-8">
              <p>At the top, there are filters that allow the user to select the status of their curriculum. The available options typically include:</p>
              <div>
                <li>Yet to Study: Shows courses that have not yet been started.</li>
                <li>Studying: Displays courses currently in progress.</li>
                <li>Failed: Highlights courses that have been failed.</li>
                <li>Successfully Completed: Lists courses that have been successfully passe</li>
              </div>
            </div>
          </div>

          <div class="flex felx-row">
            <div class="flex-none items-center w-9 h-9 mr-4 font-semibold text-[#fd4e4e] bg-[#f9e7e7] rounded-full leading-[1.5] flex justify-center items-center">2</div>
            <div class="flex flex-col text-[#5e5e63] leading-8">
              <p>Below the status filters, there is another section to filter by the type of curriculum. Users can select from various categories such as:</p>
              <div>
                <li>University Mandatory: Courses that are required by the university for all students.</li>
                <li>Major Mandatory: Courses that are compulsory for a specific major.</li>
                <li>Additional filters based on curriculum type can also be available, depending on the program.</li>
              </div>
            </div>
          </div>
          <div class="flex felx-row">
            <div class="flex-none items-center w-9 h-9 mr-4 font-semibold text-[#fd4e4e] bg-[#f9e7e7] rounded-full leading-[1.5] flex justify-center items-center">3</div>
            <div class="flex flex-col text-[#5e5e63] leading-8">
              <p>Once a filter is selected, the courses are displayed with predefined background colors to visually represent the selected status. For example:</p>
              <div>
                <li>Courses marked as Studying are highlighted in blue.</li>
                <li>Courses marked as Failed are highlighted in red.</li>
                <li>Other statuses, like Yet to Study or Completed, will have their respective colors.</li>
              </div>
            </div>
          </div>
          <div class="flex felx-row">
            <div class="flex-none items-center w-9 h-9 mr-4 font-semibold text-[#fd4e4e] bg-[#f9e7e7] rounded-full leading-[1.5] flex justify-center items-center">4</div>
            <div class="flex flex-col text-[#5e5e63] leading-8">
              <p>Each course is grouped under its relevant curriculum status. For each course, the following details are provided:</p>
              <div>
                <li>Course code and credit hours.</li>
                <li>Course name and identification number.</li>
                <li>Grouped and color-coded to match the corresponding curriculum status for clarity and ease of navigation.</li>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-16 bg-[#f1f1f1] rounded-xl shadow-xl border-2 p-8">
        <div class="flex justify-center items-center">
          <p class=" mb-5 text-balance bg-gradient-to-r from-gray-400 to-gray-800 bg-clip-text text-lg font-bold tracking-tight text-gray-900 text-transparent ">More examples</p>
        </div>
        <div class="flex flex-row max-md:flex-col items-center justify-center gap-10">
          <div class="flex items-center justify-center flex-col max-md:w-full">
            <video autoplay muted loop class="w-80 h-auto rounded-2xl shadow-xl border-2 border-[#eceff1] object-cover">
              <source src="static/video/zajel/comp1.mp4" type="video/mp4" />Your browser does not support the video tag.
            </video>
            <div class="mt-5 text-[#5e5e63] text-lg leading-8">Old Version<span class="text-red-300"> (Student's Marks)</span></div>
          </div>
          <div class="flex items-center justify-center flex-col max-md:w-full">
            <video autoplay muted loop class="w-80 h-auto border-2 border-[#eceff1] rounded-2xl shadow-xl">
              <source src="static/video/zajel/comp2.mp4" type="video/mp4" />Your browser does not support the video tag.
            </video>
            <div class="mt-5 text-[#5e5e63] text-lg leading-8">New Version<span class="text-red-300"> (Student's Marks)</span></div>
          </div>
        </div>



  
        <div class="flex flex-row max-md:flex-col items-center justify-center gap-10">
          <div class="flex items-center justify-center flex-col max-md:w-full">
            <img loading="lazy" src="static/images/zajel/old_log.jpg" class="w-80 h-auto rounded-2xl shadow-xl border-2 border-[#eceff1] object-cover">
            <div class="mt-5 text-[#5e5e63] text-lg leading-8">Old Version<span class="text-red-300"> (Login Page)</span></div>
          </div>
          <div class="flex items-center justify-center flex-col max-md:w-full">
            <img loading="lazy" src="static/images/zajel/new_log.jpg" class="w-80 h-auto rounded-2xl shadow-xl border-2 border-[#eceff1] object-cover">
            <div class="mt-5 text-[#5e5e63] text-lg leading-8">New Version<span class="text-red-300"> (Login page)</span></div>
          </div>
        </div>


      </div>

    </div>

    <div class="bg-white mt-10 justify-center items-center w-full flex">
      <div class="px-8 py-4 w-2/4 max-md:w-full">
        <div class="text-balance bg-gradient-to-r from-gray-400 to-gray-800 bg-clip-text text-lg font-bold tracking-tight text-gray-900 text-transparent mb-5">RESEARCH CASE: Enhancing Student Engagement and Experience</div>

        <p class="text-lg text-[#5e5e63]">I conducted research to identify pain points in the student experience, particularly related to class schedules and borrowed library books. I found that many students were missing their lectures because they had to repeatedly log in to the university's web portal or the outdated mobile app just to check the time and room details for their classes. This process was not user-friendly and led to students being late or even missing lectures entirely.

          Additionally, I discovered that students often failed to return borrowed library books on time, resulting in overdue fees. This issue stemmed from a lack of reminders about the approaching return deadlines.</p>
      </div>
    </div>

    <div class="mt-10 justify-center items-center w-full flex flex-col">
      <div class="flex justify-center items-center flex-row gap-10 max-md:flex-col mx-10">
        <div class="rounded-xl flex flex-col items-center w-full justify-center border-2 shadow-xl border-[#eceff1]">
          <img loading="lazy" src="/static/images/zajel/new_design2.jpg" class="w-72 h-full rounded-lg" alt="" />
          <div class="mt-5 text-[#5e5e63] text-lg leading-8">Schedule</div>
        </div>

        <div class="flex items-center w-full justify-center flex-col max-md:w-full">
          <video  autoplay muted loop class="mx-10 h-auto w-72 border-2 rounded-xl shadow-xl border-[#eceff1] object-cover">
            <source src="static/video/zajel/new_zajel_profile.mp4" type="video/mp4" />Your browser does not support the video tag.
          </video>
          <div class="mt-5 text-[#5e5e63] text-lg leading-8">Student Profile</div>
        </div>
        <div class="rounded-xl flex flex-col items-center w-full justify-center border-2 shadow-xl border-[#eceff1]">
          <img loading="lazy" src="/static/images/zajel/new_design3.jpg" class="w-72 h-full rounded-lg" alt="" />
          <div class="mt-5 text-[#5e5e63] text-lg leading-8">Notification</div>

        </div>
      </div>
    </div>

    <div class="bg-white mt-10 justify-center items-center w-full flex">
      <div class="px-8 py-4 w-2/4 max-md:w-full">
        <div class="text-balance bg-gradient-to-r from-gray-400 to-gray-800 bg-clip-text text-lg font-bold tracking-tight text-gray-900 text-transparent mb-5">Implementation</div>

        <div class="flex felx-row">
          <div class="flex-none items-center w-9 h-9 mr-4 font-semibold text-[#fd4e4e] bg-[#f9e7e7] rounded-full leading-[1.5] flex justify-center items-center">1</div>
          <div class="flex flex-col text-[#5e5e63] leading-8">
            <p>Frontend: Expo-React Native. Why Expo?</p>
            <div>
              <li>Deep Linking: Directs users to specific in-app locations via custom URL schemes, improving navigation and reducing friction.</li>
              <li>Fast Refresh: Instantly reflects code changes across Android, iOS, and web without a full reload.</li>
              <li>Offline Support: Caches visited pages, allowing the app to work offline.</li>
              <li>Over-the-Air (OTA) Updates: Pushes updates directly to users without requiring an app store release, useful for quick bug fixes and UI changes.</li>
            </div>
          </div>
        </div>

        <div class="flex felx-row">
          <div class="flex-none items-center w-9 h-9 mr-4 font-semibold text-[#fd4e4e] bg-[#f9e7e7] rounded-full leading-[1.5] flex justify-center items-center">2</div>
          <div class="flex flex-col text-[#5e5e63] leading-8">
            <p>Backend: Javalin</p>
            <div>
              <li>Scalable Architecture: Supports WebSockets, async processing, and efficient request handling.</li>
              <li>Lightweight and Fast Setup: Easy configuration and flexible routing, ideal for microservices.</li>
            </div>
          </div>
        </div>

        <div class="flex felx-row">
          <div class="flex-none items-center w-9 h-9 mr-4 font-semibold text-[#fd4e4e] bg-[#f9e7e7] rounded-full leading-[1.5] flex justify-center items-center">3</div>
          <div class="flex flex-col text-[#5e5e63] leading-8">
            <p>Why We Need A Backend Service?</p>
            <div>
              <li>User Authentication: Manages permissions to ensure secure data access.</li>
              <li>Push Notifications: Sends updates and reminders to students.</li>
              <li>Account Security: Alerts students if their account is accessed from a new device.</li>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-10 justify-center items-center w-full flex">
      <div class="px-8 py-4 w-2/4 max-md:w-full">
        <div class="text-balance bg-gradient-to-r from-gray-400 to-gray-800 bg-clip-text text-lg font-bold tracking-tight text-gray-900 text-transparent mb-5">Results</div>

        <div class="flex felx-row">
          <div class="flex flex-col text-[#5e5e63] leading-8">
            <div>
              The implementation led to a noticeable increase in user satisfaction, as students now enjoy a smoother and more intuitive way to navigate and access information. Network issues were effectively resolved, with offline support and optimized data fetching ensuring reliable app performance even with unstable or no internet connectivity. The integration of deep linking and enhanced navigation provides students with an efficient way to quickly find the information they need. Additionally, push notifications keep students informed by ensuring they never miss important updates, reminders, or announcements.
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
