<!DOCTYPE html>
<html class="scroll-smooth">
  <head>
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./dist/tstyles.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
  </head>
  {% block header %}
    {% include './headers/main-header.html' %}
  {% endblock %}

  <body class="bg-[#f6f6f6]">
    {% block content %}
      {% include './pages/profile.html' %}
    {% endblock %}

    {% include './sections/footer/contact.html' %}
  </body>

  {% block scripts %}
    <script src="static/js/base.js"></script>
    <script src="static/js/popup.js"></script>
  {% endblock %}
</html>
