{% extends 'pages/_base.html' %}
{% block title %}
  About
{% endblock %}
{% block content %}
  Hi again, I'm Olivier. I’m a product designer living in Brooklyn, interested in how people and software can work together to make life better. I'm currently at Snap, where I design experiences around finding and using AR Lenses on Snapchat.

  I previously worked at ZipRecruiter, where I designed experiences and interfaces to help millions of people get jobs. I started on the marketing design side, honing my visual design skills and learning the ins and outs of keyframe animation, then moved into the world of product.

  As a designer, I enjoy being a generalist with a focus on craft and prototyping. I value beautiful visuals backed by smart systems thinking. I love the concept that a digital product is a living thing that can adapt and evolve over time.

  Outside of design, I love food in all capacities. I spend my time exploring new restaurants, cooking new dishes, and talking about my next meal. I think a lot about the Arizona Cardinals, well-executed civil engineering, and my dog Olive (no, she wasn’t named after me).

  If you want to chat, feel free to reach out.
{% endblock %}
