<a href="/zajel">
  <div class="max-sm:mx-2 mx-10 mb-20 rounded-2xl flex flex-row items-stretch max-lg:flex-col shadow-lg">
    <div class="h-auto w-3/4 max-lg:w-full flex-auto items-center justify-center rounded-2xl bg-[#eceff1] shadow ring-1 ring-slate-900/10 transition-all duration-300 ease-in-out hover:scale-[1.04] hover:bg-slate-100 hover:shadow-2xl">
      <div class="transform cursor-pointer">
        <div class="card flex h-full flex-row p-10 max-md:p-2 max-md:flex-col max-md:gap-11">
          <div class="flex-[2] flex flex-col justify-between">
            <div id="icon" class="h-12 w-12 items-center justify-center overflow-hidden rounded-xl bg-[#558CBD] p-1">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 64 64" style="enable-background:new 0 0 512 512" xml:space="preserve" class="h-10 w-10">
                <g>
                  <path fill="#eaeadc" d="M24.682 39.087S21 42 14 42l4 3s-4 1-7-1c0 0 2.893 11 13.893 1z" opacity="1" data-original="#eaeadc"></path>
                  <path fill="#995f5b" d="M41 24s8 0 15-18a4.281 4.281 0 0 1 1.827 5.907L55 17l5-3c.611 2.446.937 4.386-1 6l-4 3h6a4 4 0 0 1-4 4h-3l5 5a4.239 4.239 0 0 1-6 0l-2-2 2 7-.932.233A3.415 3.415 0 0 1 48 35l-1-3-1 7a4.323 4.323 0 0 1-4-3l-1.3-4.835-1.7-3.132zM23.143 24S15 24 8 6a4.281 4.281 0 0 0-1.827 5.907L9 17l-5-3c-.611 2.446-.937 4.386 1 6l4 3H3a4 4 0 0 0 4 4h3l-5 5a4.239 4.239 0 0 0 6 0l2-2-2 7 .932.233A3.415 3.415 0 0 0 16 35l1-3 1 7a4.323 4.323 0 0 0 4-3l1.4-4.913.519-3.587z" opacity="1" data-original="#995f5b" class=""></path>
                  <path fill="#66342e" d="M28.168 18.415 23 20l1 28h4l4-7 4 7h4l1-24-3.667-5z" opacity="1" data-original="#66342e"></path>
                  <path fill="#f9bb4b" d="m41 5 6 2v6l-3-3-3-1z" opacity="1" data-original="#f9bb4b"></path>
                  <path fill="#eaeadc" d="m41 5-7-2h-4l-7 17 3 4 3-1 2 4 2-3 3 2 2-3 3 1v-4l-2-8 2-2z" opacity="1" data-original="#eaeadc"></path>
                  <path fill="#ad6327" d="M14 53h36v6H14z" opacity="1" data-original="#ad6327"></path>
                  <path fill="#f9bb4b" d="m27 51 1-3h-4l-1 3-3 1v3l1 6h2l1-6h2l1 6h2l1-6v-3zM37 51l-1-3h4l1 3 3 1v3l-1 6h-2l-1-6h-2l-1 6h-2l-1-6v-3z" opacity="1" data-original="#f9bb4b"></path>
                  <path fill="#394d5c" d="m33.773 7.977.486-1.94 4 1.002-.487 1.94z" opacity="1" data-original="#394d5c"></path>
                  <g fill="#301a12">
                    <path d="M35 34a1 1 0 0 1-.555-.168L32 32.2l-2.445 1.63a1 1 0 0 1-1.262-.125l-2-2 1.414-1.414 1.42 1.42 2.318-1.545a1 1 0 0 1 1.11 0l2.318 1.545 1.42-1.42 1.414 1.414-2 2A1 1 0 0 1 35 34z" fill="#301a12" opacity="1" data-original="#301a12" class=""></path>
                    <rect width="3.606" height="2" x="10.697" y="18" rx="1" transform="rotate(-33.7 12.495 18.99)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                    <rect width="5" height="2" x="12" y="21" rx="1" transform="rotate(-53 14.495 21.997)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                    <rect width="7.211" height="2" x="13.394" y="25" rx="1" transform="rotate(-56.29 17.01 26)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                    <rect width="7.28" height="2.001" x="16.36" y="26.5" rx="1" transform="rotate(-74.05 19.992 27.486)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                    <rect width="2" height="3.606" x="50.5" y="17.197" rx="1" transform="rotate(-56.29 51.515 18.99)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                    <rect width="2" height="5" x="48.5" y="19.5" rx="1" transform="rotate(-37 49.5 22)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                    <rect width="2" height="7.211" x="46" y="22.394" rx="1" transform="rotate(-33.7 46.978 25.984)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                    <rect width="2.001" height="7.28" x="43" y="23.86" rx="1" transform="rotate(-15.95 43.954 27.475)" fill="#301a12" opacity="1" data-original="#301a12" class=""></rect>
                  </g>
                </g>
              </svg>
            </div>

            <div class="title">
              <h1 style="line-height: 120%; font-weight: 700" class="bg-gradient-to-l from-stone-700 to-slate-600 bg-clip-text text-transparent text-[38px] max-sm:text-2xl leading-10 font-sans font-bold">Zajel Mobile</h1>
              <div class="flex flex-col">
                <span class="font-sans text-[16px] text-[#5e5e63]">Software Developer - An-Najah University</span>
                <span class="font-sans text-[16px] text-[#5e5e63]">July 2024 - September 2024</span>
              </div>
              <p class="font-sans mt-6 text-[#5e5e63] text-[18px]">Zajel Mobile is a mobile application developed for university students, providing a faster and easier way to access their academic data. The app enhances the user interface and experience, supports both offline and online modes, and sends notifications to students about new updates and upcoming lectures.</p>
            </div>

            <div class="items-end justify-start flex bottom-0 mt-5">
              <div class="bg-white shadow-lg rounded-lg border-white items-center transition-all justify-center hover:scale-105 focus:scale-95 max-md:w-full">
                <div class="py-[12px] px-[30px] flex justify-center items-center hover:bg-[#eceff1] rounded-lg">
                  <a href="/zajel" class="bg-gradient-to-r from-slate-500 to-gray-700 bg-clip-text text-transparent font-bold text-[18px] flex gap-2">
                    Read More <span aria-hidden="true" class="text-lg">
                      <svg class="h-8 w-8 text-gray-700" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" /> <line x1="5" y1="12" x2="19" y2="12" /> <line x1="13" y1="18" x2="19" y2="12" /> <line x1="13" y1="6" x2="19" y2="12" />
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="flex items-center justify-center mt-10 mr-5">
            <div class="relative rounded-lg translate-x-10 z-10">
              <img loading="lazy" src="/static/images/zajel/bg2.jpg" alt="Dog" class="z-50 w-full h-auto max-w-72 max-h-[28rem] max-md:max-h-96 shadow-2xl -rotate-12 rounded-2xl transform hover:scale-105 transition duration-300" />
            </div>
            <div class="relative rounded-lg -translate-y-10">
              <img loading="lazy" src="/static/images/zajel/logo1.jpg" alt="Forest Waterfall" class="w-full h-auto max-w-72 max-h-[28rem] max-md:max-h-96 shadow-2xl rounded-2xl transform hover:scale-105 transition duration-300 rotate-12" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
