<a href="/lego">
  <div class="mx-10 rounded-2xl mb-20 flex flex-row items-stretch max-md:flex-col shadow-lg">
    <div class="h-auto w-2/3 flex-auto items-center justify-center rounded-2xl bg-[#eceff1] shadow ring-1 ring-slate-900/10 transition-all duration-300 ease-in-out hover:scale-[1.04] hover:bg-slate-100 hover:shadow-2xl max-md:w-full">
      <div class="transform cursor-pointer">
        <div class="card flex h-full flex-row p-10 pb-0 pr-0 max-md:flex-col max-md:gap-11 mb-5">
          <div class="flex-[2] flex flex-col justify-between pb-10 mr-5">
            <div id="icon" class="h-12 w-12 flex items-center justify-center overflow-hidden rounded-xl bg-fuchsia-400">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                <g>
                  <linearGradient id="a">
                    <stop offset="0" stop-color="#010101" stop-opacity=".1"></stop>
                    <stop offset="1" stop-color="#010101" stop-opacity="0"></stop>
                  </linearGradient>
                  <linearGradient xlink:href="#a" id="c" x1="11.318" x2="17.79" y1="4.027" y2="10.499" gradientUnits="userSpaceOnUse"></linearGradient>
                  <linearGradient xlink:href="#a" id="d" x1="4.833" x2="11.435" y1="7.036" y2="13.638" gradientUnits="userSpaceOnUse"></linearGradient>
                  <linearGradient id="b">
                    <stop offset="0" stop-color="#fff" stop-opacity=".2"></stop>
                    <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                  </linearGradient>
                  <linearGradient xlink:href="#b" id="e" x1="9.454" x2="14.546" y1="1.313" y2="3.687" gradientUnits="userSpaceOnUse"></linearGradient>
                  <linearGradient xlink:href="#b" id="f" x1="15.954" x2="21.046" y1="4.313" y2="6.687" gradientUnits="userSpaceOnUse"></linearGradient>
                  <linearGradient xlink:href="#b" id="g" x1="9.454" x2="14.546" y1="7.313" y2="9.687" gradientUnits="userSpaceOnUse"></linearGradient>
                  <linearGradient xlink:href="#a" id="h" x1="11.114" x2="14.417" y1="9.816" y2="13.119" gradientUnits="userSpaceOnUse"></linearGradient>
                  <linearGradient xlink:href="#b" id="i" x1="2.954" x2="8.046" y1="4.313" y2="6.687" gradientUnits="userSpaceOnUse"></linearGradient>
                  <linearGradient xlink:href="#a" id="j" x1="237.984" x2="239.782" y1="-430.516" y2="-428.718" gradientTransform="rotate(180 125.5 -210.5)" gradientUnits="userSpaceOnUse"></linearGradient>
                  <linearGradient xlink:href="#a" id="k" x1="231.484" x2="233.282" y1="-427.516" y2="-425.718" gradientTransform="rotate(180 125.5 -210.5)" gradientUnits="userSpaceOnUse"></linearGradient>
                  <linearGradient xlink:href="#a" id="l" x1="237.984" x2="239.782" y1="-424.516" y2="-422.718" gradientTransform="rotate(180 125.5 -210.5)" gradientUnits="userSpaceOnUse"></linearGradient>
                  <linearGradient xlink:href="#a" id="m" x1="17.601" x2="20.773" y1="6.807" y2="9.979" gradientUnits="userSpaceOnUse"></linearGradient>
                  <linearGradient xlink:href="#a" id="n" x1="244.484" x2="246.282" y1="-427.516" y2="-425.718" gradientTransform="rotate(180 125.5 -210.5)" gradientUnits="userSpaceOnUse"></linearGradient>
                  <linearGradient xlink:href="#b" id="o" x1=".922" x2="23.891" y1="6.524" y2="17.234" gradientUnits="userSpaceOnUse"></linearGradient>
                  <path fill="#2d98d4" d="M14.623 3.304H9.377L0 8.5 12 15l12-6.5z" opacity="1" data-original="#2d98d4"></path>
                  <path fill="url(#a)" d="M20.662 10.169 14.994 4.5c0 1.03-1.555 1.5-3 1.5-1.066 0-2.186-.257-2.703-.804h-.006l7.107 7.108z" opacity="1" data-original="url(#a)"></path>
                  <path fill="url(#a)" d="M8.5 7.5c0 1.03-1.555 1.5-3 1.5-1.065 0-2.185-.257-2.703-.804H2.79l3.398 3.398L12 14.5l2.333-1.167z" opacity="1" data-original="url(#a)"></path>
                  <path fill="#0377be" d="M9 2.5v2C9 5.53 10.555 6 12 6s3-.47 3-1.5v-2z" opacity="1" data-original="#0377be"></path>
                  <path fill="#2d98d4" d="M12 1c-1.445 0-3 .47-3 1.5S10.555 4 12 4s3-.47 3-1.5S13.445 1 12 1z" opacity="1" data-original="#2d98d4"></path>
                  <path fill="url(#b)" d="M12 1c-1.445 0-3 .47-3 1.5S10.555 4 12 4s3-.47 3-1.5S13.445 1 12 1z" opacity="1" data-original="url(#b)" class=""></path>
                  <path fill="#0377be" d="M15.5 5.5v2c0 1.03 1.555 1.5 3 1.5s3-.47 3-1.5v-2z" opacity="1" data-original="#0377be"></path>
                  <path fill="#2d98d4" d="M18.5 4c-1.445 0-3 .47-3 1.5s1.555 1.5 3 1.5 3-.47 3-1.5-1.555-1.5-3-1.5z" opacity="1" data-original="#2d98d4"></path>
                  <path fill="url(#b)" d="M18.5 4c-1.445 0-3 .47-3 1.5s1.555 1.5 3 1.5 3-.47 3-1.5-1.555-1.5-3-1.5z" opacity="1" data-original="url(#b)" class=""></path>
                  <path fill="#0377be" d="M9 8.5v2c0 1.03 1.555 1.5 3 1.5s3-.47 3-1.5v-2z" opacity="1" data-original="#0377be"></path>
                  <path fill="#2d98d4" d="M12 7c-1.445 0-3 .47-3 1.5s1.555 1.5 3 1.5 3-.47 3-1.5S13.445 7 12 7z" opacity="1" data-original="#2d98d4"></path>
                  <path fill="url(#b)" d="M12 7c-1.445 0-3 .47-3 1.5s1.555 1.5 3 1.5 3-.47 3-1.5S13.445 7 12 7z" opacity="1" data-original="url(#b)" class=""></path>
                  <path fill="#0377be" d="M2.5 5.5v2c0 1.03 1.555 1.5 3 1.5s3-.47 3-1.5v-2z" opacity="1" data-original="#0377be"></path>
                  <path fill="#0377be" d="m12 14.5-12-6V17l12 6 12-6V8.5z" opacity="1" data-original="#0377be"></path>
                  <path fill="url(#a)" d="M16.667 12.166 15.001 10.5c0 1.03-1.555 1.5-3 1.5-1.065 0-2.185-.257-2.703-.804h-.006l3.105 3.105z" opacity="1" data-original="url(#a)"></path>
                  <path fill="#01010110" d="M12 14.5V23l12-6V8.5z" opacity="1" data-original="#01010110"></path>
                  <path fill="#2d98d4" d="M5.5 4c-1.445 0-3 .47-3 1.5S4.055 7 5.5 7s3-.47 3-1.5S6.945 4 5.5 4z" opacity="1" data-original="#2d98d4"></path>
                  <path fill="url(#b)" d="M5.5 4c-1.445 0-3 .47-3 1.5S4.055 7 5.5 7s3-.47 3-1.5S6.945 4 5.5 4z" opacity="1" data-original="url(#b)" class=""></path>
                  <path fill="url(#a)" d="M12 9.5c.964 0 2-.313 2-1s-1.036-1-2-1-2 .313-2 1 1.036 1 2 1z" opacity="1" data-original="url(#a)"></path>
                  <path fill="url(#a)" d="M18.5 6.5c.964 0 2-.313 2-1s-1.036-1-2-1-2 .313-2 1 1.036 1 2 1z" opacity="1" data-original="url(#a)"></path>
                  <path fill="url(#a)" d="M12 3.5c.964 0 2-.313 2-1s-1.036-1-2-1-2 .313-2 1 1.036 1 2 1z" opacity="1" data-original="url(#a)"></path>
                  <path fill="url(#a)" d="M22.998 9.001 21.497 7.5c0 1.03-1.555 1.5-3 1.5-1.065 0-2.185-.257-2.703-.804h-.006l2.94 2.94z" opacity="1" data-original="url(#a)"></path>
                  <path fill="url(#a)" d="M5.5 6.5c.964 0 2-.313 2-1s-1.036-1-2-1-2 .313-2 1 1.036 1 2 1z" opacity="1" data-original="url(#a)"></path>
                  <path fill="url(#b)" d="M24 8.5V17l-12 6-12-6V8.5l2.5-1.385V5.5c0-1.03 1.555-1.5 3-1.5.704 0 1.431.114 1.995.347L9 3.513V2.5C9 1.47 10.555 1 12 1s3 .47 3 1.5v1.013l1.505.834C17.069 4.114 17.795 4 18.5 4c1.445 0 3 .47 3 1.5v1.615z" opacity="1" data-original="url(#b)" class=""></path>
                </g>
              </svg>
            </div>

            <div class="title">
              <h1 style="line-height: 120%; font-weight: 700" class="bg-gradient-to-l from-stone-700 to-slate-600 bg-clip-text text-transparent text-[38px] leading-10 font-sans font-bold">Visual Programming</h1>
              <div class="flex flex-col">
                <span class="font-sans text-[16px] text-[#5e5e63]">Graduation Project - Student</span>
                <span class="font-sans text-[16px] text-[#5e5e63]"></span>
              </div>
              <p class="font-sans mt-6 text-[#5e5e63] text-[18px]">Visual programming makes coding accessible, especially for beginners, by transforming complex code into simple, intuitive visual blocks. With my web app, users can generate Python and C++ code simply by dragging and dropping Lego-like blocks. This approach allows users to build programs, create drawings, and solve programming problems visually, without the need to write code manually. The app automatically converts these blocks into functional Python or C++ code, making it an interactive and user-friendly way to understand coding logic and syntax.</p>
            </div>

            <div class="items-end justify-start flex bottom-0 mt-5">
              <div class="bg-white shadow-lg rounded-lg border-r-2 items-center transition-all justify-center hover:scale-105 focus:scale-95 max-md:w-full">
                <div class="py-[12px] px-[30px] flex justify-center items-center hover:bg-[#eceff1] rounded-lg">
                  <a href="/lego" class="bg-gradient-to-r from-slate-500 to-gray-700 bg-clip-text text-transparent font-bold text-[18px] flex gap-2">
                    Explore More <span aria-hidden="true" class="text-lg">
                      <svg class="h-8 w-8 text-gray-700" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" /> <line x1="5" y1="12" x2="19" y2="12" /> <line x1="13" y1="18" x2="19" y2="12" /> <line x1="13" y1="6" x2="19" y2="12" />
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="flex items-center justify-start overflow-hidden h-full">
            <img src="/static/images/lego/lego-3.png" alt="Dog" class="w-full h-72 max-w-80 max-md:rounded-xl rounded-l-xl shadow-lg transform hover:scale-105 transition duration-300" />
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
